/**
* Copyright 2015 Google Inc. All Rights Reserved.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.sentry-test .mdl-layout__tab-bar-button {
  display: none;
}
.sentry-test .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.sentry-test .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.sentry-test .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.sentry-test .mdl-layout__tab-bar-container {
  height: 64px;
}
.sentry-test .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.sentry-test .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.sentry-test .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.sentry-test main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.sentry-test .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sentry-test .mdl-card > * {
  height: auto;
}
.sentry-test .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.sentry-test.sentry-test .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.sentry-test.sentry-test .mdl-card__supporting-text h4 a {
  text-decoration: none;
}
.sentry-test .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.sentry-test .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.sentry-test .mdl-card__actions a:hover,
.sentry-test .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.sentry-test .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.sentry-test .mdl-layout__content section {
  position: relative;
  margin-bottom: 48px;
}
.sentry-test section.section--center {
  max-width: 860px;
}
.sentry-test #features section.section--center {
  max-width: 620px;
}
.sentry-test section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sentry-test section > .section__play-btn {
  min-height: 200px;
}
.sentry-test section > header > .material-icons {
  font-size: 3rem;
}
.sentry-test section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.sentry-test section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.sentry-test section .section__text {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 8px;
}
.sentry-test section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.sentry-test section .section__text a {
  text-decoration: none;
}
.sentry-test section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.sentry-test section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.sentry-test .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.sentry-test section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.sentry-test section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.sentry-test .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.sentry-test .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.sentry-test #features section {
  margin-bottom: 72px;
}
.sentry-test #features h4, #features h5 {
  margin-bottom: 16px;
}
.sentry-test .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sentry-test .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.sentry-test .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.sentry-test .mdl-menu__container {
  z-index: 99;
}
.sentry-test .mdl-menu__item a{
  text-decoration: none;
  color: inherit;
  display: block;
}

.sentry-test .mdc-list-item__text .journal-title{
  text-decoration: none;
  color: inherit;
  display: block;
}

.sentry-test .margin-all{
  margin: 12px;
  padding: 12px;
}

.sentry-test .top-margin{
  margin-top: 16px;
}

.sentry-test .align-center{
  display: flex;
  align-items: center;
}

.sentry-test #main-action-btn {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 900;
}

@media (min-width:992px){
  .navdrawer-permanent-lg~main {
    margin-left: 280px;
  }
}