{{define "footer"}}
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/material.min.js"></script>
<script src="/js/moment.min.js"></script>
{{if ne .PageData.ScriptInclude ""}}
<script src="/js/{{.PageData.ScriptInclude}}"></script>
{{end}}
<script src="/app.js" async></script>
</body>
</html>

{{end}}