{{define "header"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"><!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="rgb(33, 150, 243)">
  <link rel="icon" sizes="192x192" href="/images/android-desktop.png">
  <link rel="manifest" href="/manifest.json">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="rgb(33, 150, 243)">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="shortcut icon" href="/images/favicon.png">

  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="/css/sentry-test.css">
  <title>sentry-test</title>
</head>
<body class="sentry-test">
  <header class="navbar sticky-top navbar-dark navbar-full bg-primary doc-navbar-default">
    <button aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler" data-target="#navdrawerDefault" data-breakpoint="lg" data-toggle="navdrawer" data-type="permanent" type="button"><span class="navbar-toggler-icon"></span></button>
    <span class="navbar-brand mr-auto">{{.PageData.Title}}</span>
  </header>
  {{template "sidebar" .}}
{{end}}

{{define "header-less"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"><!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="rgb(33, 150, 243)">
  <link rel="icon" sizes="192x192" href="/images/android-desktop.png">
  <link rel="manifest" href="/manifest.json">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="rgb(33, 150, 243)">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="shortcut icon" href="/images/favicon.png">

  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="/css/sentry-test.css">
  <style>
  #new-journal {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
  }
  </style>
  <title>sentry-test</title>
</head>
<body class="sentry-test">
  <header class="navbar sticky-top navbar-dark navbar-full bg-primary doc-navbar-default">
    <button aria-expanded="false" aria-label="back" class="navbar-toggler" onclick="history.go(-1);"><i class="material-icons">arrow_back</i></button>
    <span class="navbar-brand mr-auto">{{.PageData.Title}}</span>
  </header>
{{end}}