{{define "journalForm"}} {{template "header-less" .}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <section class="col-xl-9 m-3">
        <form method="post" autocomplete="off">
          <div class="form-group">
            <label for="form_add_title">Title</label>
            <input type="text" id="form_add_title" class="form-control" name="form_add_title" value="{{.Journal.Title}}" placeholder="Journal title"
              required>
          </div>
          <div class="form-group">
            <label for="form_add_content">Write your thought here</label>
            <textarea type="text" rows="10" id="form_add_content" class="form-control" name="form_add_content" required minlength=25
              placeholder="Journal content here..">{{.Journal.Content}}</textarea>
            <small id="emailHelp" class="form-text text-muted">Please write min. 25 character length</small>
          </div>
          <button class="btn btn-secondary" type="submit">
            Submit
          </button>
        </form>
      </section>
    </div>
  </div>
</main>
{{template "footer" .}} {{end}}