{{define "journalDetail"}} {{template "header-less" .}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <main class="m-3">
          <section class="m-3">
            <h3>{{.Journal.Title}}</h3>
            <hr>
            <small>{{.Journal.CreatedAt.Local.Format "Mon, Jan _2 2006 15:04:05"}}</small>
            <br>
            <p class="mdc-typography--body1">{{.Journal.Content | html}}</p>
          </section>
          </section>
        </main>
        <div class="btn-float-dropdown dropdown" id="main-action-btn">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-float btn-primary" data-toggle="dropdown" type="button">
            <i class="material-icons">more_vert</i>
          </button>
          <div class="dropdown-menu">
            <button class="btn btn-float btn-light btn-sm" type="button" onclick="document.location ='/journals/edit/{{.Journal.ID}}'">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-float btn-light btn-sm" type="button" onclick="if (confirm('Are you sure you want to delete this item?')){document.location ='/journals/delete/{{.Journal.ID}}'}">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{template "footer" .}} {{end}}