{{define "journalsListing"}} {{template "header" .}}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 pr-0 pl-0">
        <div class="list-group" id="journals-listing">
        </div>
        <button class="btn btn-float btn-secondary" type="button" id="main-action-btn" onclick="location.href='/journals/add';">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </div>
</main>
{{template "footer" .}} {{end}}