{{define "sidebar"}}
<div aria-hidden="true" class="navdrawer navdrawer-permanent-lg" id="navdrawerDefault" tabindex="-1">
  <div class="navdrawer-content">
    <div class="navdrawer-header">
      <a class="navbar-brand px-0" href="#">sentry-test</a>
    </div>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="/journals"><i class="material-icons mr-3">collections_bookmark</i> Journals</a>
      </li>
    </ul>
    <div class="mt-auto">
        <div class="navdrawer-divider mt-0"></div>
        <ul class="navdrawer-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="material-icons mr-3">code</i> v0.0.1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journals"><i class="material-icons mr-3 text-danger">favorite</i> Made by Junta</a>
            </li>
          </ul>
    </div>
  </div>
</div>
{{end}}